@media (min-width: 1025px) {
    .minha-classe {
      font-size: 18px;
    }
  }
  @media (max-width: 600px) {
    .minha-classe {
      font-size: 14px;
    }
  }
body{
    background: black;
}

.navbar{
    width: 28%;
    align-items: center;
    list-style: none;
    display: flex;
    color: rgb(207, 205, 205);
    margin-left: 35%;
    padding: 0%;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, rgb(243, 72, 72), rgb(32, 117, 253));
    border-image-slice: 1;
    border-radius: 15px;
}
ul{
    position: relative;
    cursor: pointer;
    transition: 0.5;
}
ul:hover{
    transition: 0.5s;
    color: white;
}
.logo{
    position: absolute;
    left: 5%;
    width: 100px;
    height: 50px;
}
.gif{
    position: relative;
    left: 90vh;
    top: 30vh;
}
.frase1, p{
    color: white;
    position: relative;
    left: 65%;
    bottom: 7vh;
    width: 52vh;
    display: flex;
    flex: wrap;
}
.hr-gradient {
    height: 2px; 
    width: 50%; 
    position: relative;
    top: 65vh;
    left: 58vh;
    background: linear-gradient(to right, red, blue);
    border: none;
    margin: 20px 0;
  }
  .quem-somos, p{
    color: white;
    box-sizing: content-box;
    width: 50%;
    position: relative;
    left: 58vh;
    top: 65vh;
    display: flex;
    flex: wrap;
  }
  .quem-somos, h1{
    color: white;
    box-sizing: content-box;
    width: 15%;
    height: 30px;
    position: relative;
    left: 100vh;
    top: 65vh;
    font-size: xxx-large;
    display: flex;
    flex: wrap;
  }
  
  