body{
    background: black;
}

.navbar{
    width: 28%;
    align-items: center;
    list-style: none;
    display: flex;
    color: rgb(207, 205, 205);
    margin-left: 35%;
    padding: 0%;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, rgb(243, 72, 72), rgb(32, 117, 253));
    border-image-slice: 1;
    border-radius: 15px;
}
ul{
    position: relative;
   

    cursor: pointer;
    transition: 0.5;
}
ul:hover{
    transition: 0.5s;
    color: white;
}
.logo{
    position: absolute;
    left: 5%;
    width: 100px;
    height: 50px;
}